.modelo1 {
    font-family: Arial;
    color: white;
    width: 60%;
    padding: 20px;
    border-radius: 25px;
    background-color: #834600;
}

.modelo1 h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px black;
}

.modelo1 .titulo2 {
    font-size: 16px;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    margin-bottom: 15px;
}

.rotulos {
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 3px black;
    padding: 5px;
    width: 15%;
    text-align: right;
    margin-top: 3px;
    margin-right: 10px;
}

.entrada {
    width: 65%; 
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #ffe5c8;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
}

hr {
    margin-bottom: 20px;
    padding: 2px;
    background-color: black;
    border: none;
}

.botao {
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 125px;
}

#mensagem {
    height: 125px; 
}
